#goright,#goleft { vertical-align:middle;opacity: 0.15;display:inline-block }
#left-sidebar {display:inline}
#right-sidebar {display:inline}
#right-sidebar :hover {opacity:0.4;cursor:pointer}
#left-sidebar :hover {opacity:0.4;cursor:pointer}
#centre_panel {vertical-align:middle;display:inline-block;width:604px}
#wire_frame {width:100%;overflow-x:scroll;overflow-y:hidden}
div.box {width:604px;display:inline-block}
div.box input[type="text"] {width:300px}
.textarea-prompt {vertical-align:top;padding-top:7px}
div.edit-region { overflow-y; auto; border: 1px solid lightgrey;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
    background-color:white;height:4em;padding: 3px 5px 3px 5px }
span.placeholder {color:#959595}
input.year { width: 50px !important }
div.event-button { display:inline; border: 1px solid grey;padding: 5px 5px 5px 5px;border-radius:3px;margin-right:10px;}
div.event-button:hover {background-color: lightgrey; cursor:pointer }
#search_button { margin-right: 0px }
input.filler {visibility:hidden;width:1px}
#search_box {margin-right:10px;display:inline}
#left-toolbar-group {float:left;display:inline-block}
#right-toolbar-group {float:right;display:inline-block}
