div.upload
{
    display: inline-block;
    vertical-align: top;
    width: 50%
}
div.fields
{
    display: inline-block;
    width: 50%
}
div.wrapper
{
    margin-left: auto;
    margin-right: auto;
}
table.fields
{
    height: 180px;
}
input.invisible 
{ 
    display: none 
} 
iframe.log 
{ 
    background-color: white; 
    border: 1px solid #EEE; 
    padding: 5px;
    display: block;
    width: 100%;
    height: 80px;
}
iframe body 
{
    font: 10px ariel, sans-serif;
}
div.header h3 
{
    font-weight: bold !important;
}
div.header
{
    font-size:16px;
}
.fields
{
    font-size: 16px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
