.fa-check {color:green}
.fa-times {color:red}
.fa-exclamation-triangle {color:red}
#text { width:100%; height:40em;z-index:2 }
#toolmenu { width: 100% }
#toolmenu span {padding: 0.4em}
#toolmenu input {margin: 0.4em}
#preview { overflow-y: scroll; border: 1px solid #7b7b7b;z-index:1; }
#preview_check {float:right;height:1em}
.inner {position:absolute;top:0;}
.right_prompt {float:right}
#wrapper {position:relative}
#category option[value="add"] {font-style:italic}
